{% macro define(item, default=False) -%}
{% if hasTemplateItem(item) %}
  {{getTemplateItem(item)}}
{% elif default %}
  {{ insertTemplateContent(caller(), 'moose-sqa-template-item-default') }}
{% else %}
  {{ createHelpElement(item) }}
  {{ insertTemplateContent(caller(), 'moose-sqa-template-item-description') }}
{% endif %}
{%- endmacro %}
